body{
    margin: 0;
    overflow: hidden;
}
.rainbow{
    display: flex;
    align-items: center;
    justify-content: center;
  transition-property: background-image;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, blue,rgb(204, 0, 255), red );
}
.rainbow__in{
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-image: linear-gradient(to left,red ,rgb(204, 0, 255),blue  );

}
.rainbow__in:hover{
    background-image: linear-gradient(to right,red ,rgb(204, 0, 255),blue  );
    transform: rotate(0deg);
}